@use '../base/_variables' as *;

.homepage {
  header {
    padding: 2rem 0;
    background-color: $white;
    background: linear-gradient(45deg, rgba($bold_orange,.9) 0%, rgba($bold_yellow,.9) 100%);

    @media(min-width:800px) {
      padding: 5rem 0;
    }

    .kee-with-keyboard {
      width: 90%;
      max-width: 18rem;
      margin: 0 auto;
      position: relative;
      z-index: 5;
      margin-bottom: -.75rem;
    }
  }
}
.homepage header {
  h1 {
    margin: 0;
    padding: 0;
    text-align: center;
    color: $white;

    font-family: "Dosis", serif;
    font-size: 2.2rem;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;

    span {
      display: inline-block;
      border: 3px solid $white;
      padding: 1rem;
      border-radius: .625rem;
      background-color: rgba($white,.8);
      color: $black;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    }

  }
}
